<%- include('partials/header',{title:"Home",page:page}) %>
    <div class="mx-auto max-w-full py-32 sm:py-48 lg:py-56">
      <div class="text-center">
        <h1 class="text-3xl font-semibold tracking-tight text-balance text-pink-900 sm:text-7xl mb-6">Welcome</h1>
        <h1 class="text-3xl font-semibold tracking-tight text-balance text-Black sm:text-6xl" id="typing"></h1>
      </div>
    </div>
    <script src="/javascripts/welcome.js"></script>
<%- include('partials/footer') %>